// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2020-2021 Microchip Technology Inc */

/dts-v1/;

#include "pic64gx.dtsi"

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ	1000000

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "Microchip PIC64GX Curiosity Kit";
	compatible = "microchip,pic64gx-curiosity-kit", "microchip,pic64gx";

	aliases {
		ethernet0 = &mac0;
		serial1 = &mmuart1;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		hss: hss-buffer@bfc00000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0xbfc00000 0x0 0x400000>;
			no-map;
		};
	};
};


&mac0 {
	status = "okay";
	phy-mode = "sgmii";
	phy-handle = <&phy0>;

	phy0: ethernet-phy@b {
		reg = <0xb>;
	};
};

&mbox {
	status = "okay";
};

&mmc {
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	no-1-8-v;
	status = "okay";
};

&mmuart1 {
	status = "okay";
};

&refclk {
	clock-frequency = <125000000>;
};

&rtc {
	status = "okay";
};

&syscontroller {
	status = "okay";
};

&gpio0 {
	status ="okay";
	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "MIPI_CAM_RESET", "MIPI_CAM_STANDBY";
};

&gpio1 {
	status ="okay";
	gpio-line-names =
		"", "", "LED1", "LED2", "LED3", "LED4", "LED5", "LED6",
		"LED7", "LED8", "", "", "", "", "", "",
		"", "", "", "", "HDMI_HPD", "", "", "GPIO_1_23";
};

&gpio2 {
	status ="okay";
	gpio-line-names =
		"", "", "", "", "", "", "SWITCH2", "USR_IO12",
		"DIP1", "DIP2", "", "DIP3", "USR_IO1", "USR_IO2", "USR_IO7", "USR_IO8",
		"USR_IO3", "USR_IO4", "USR_IO5", "USR_IO6", "", "", "USR_IO9", "USR_IO10",
		"DIP4", "USR_IO11", "", "", "SWITCH1", "", "", "";
};
